<div>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci repellendus aut deleniti quo sequi, animi error,
  similique, dicta cum aperiam beatae magnam expedita architecto dolorum dignissimos iure autem modi incidunt!
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, eligendi? Iure explicabo perspiciatis incidunt
  veniam illo minima nihil corporis architecto dolores autem quas aperiam inventore accusantium, fugit iusto cumque?
  Dolorem?

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Acepto</button>
  </mat-dialog-actions>

</div>
